.detail-jumbo {
    background-color: var(--honeydew) !important;
    border: 1px solid rgba(0, 0, 0, .125);
}

.custom-list {
    background-color: var(--lightBlue) !important;
    color: black !important;
    text-decoration: none !important;
}

.custom-list:hover {
    background-color: var(--lightBlue) !important;
    color: black !important;
    text-decoration: none !important;
}

.custom-list:visited {
    background-color: var(--lightBlue) !important;
    color: black !important;
    text-decoration: none !important;
}

.border-jumbo {
    box-sizing: border-box !important;
}