.button-light-blue-home {
    background-color: var(--opal) !important;
    border-color: transparent !important;
}

.button-ultra-red {
    background-color: var(--ultraRed) !important;
    border-color: transparent !important;
}

.custom-ironhack:hover {
    color: var(--cambridgeBlue);
}

.cambridge-blue-background {
    background-color: var(--cambridgeBlue) !important;
}

.honeydew-background {
    background-color: var(--honeydew) !important;
}

.main-home-content {
    background-color: var(--honeydew);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title-jumbo-title {
    font-weight: bold;
}

@media (max-width: 1920px) {
    .main-home-content {
        height: calc(100vh - 56px);
    }
    
    .custom-jumbo {
        box-sizing: border-box !important;
        max-height: 230px;
    }
    
    .participate {
        max-height: 150px;
    }

    .title-jumbo-title {
        font-size: 4.5rem ;
    }

    .title-jumbo-subtitle {
        font-size: 2rem;
    }
}

@media (max-width: 360px) {
    .main-home-content {
        height: calc(100vh - 56px);
    }

    .title-jumbo-title {
        font-size: 2rem;
    }

    .title-jumbo-subtitle {
        font-size: 1rem;
    }
}