.main-home-content {
    background-color: var(--honeydew);
    height: calc(100vh - 56px);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.button-light-blue-home {
    background-color: var(--opal) !important;
    border-color: transparent !important;
}

.button-ultra-red {
    background-color: var(--ultraRed) !important;
    border-color: transparent !important;
}

.custom-ironhack:hover {
    color: var(--cambridgeBlue);
}

.cambridge-blue-background {
    background-color: var(--cambridgeBlue) !important;
}

.honeydew-background {
    background-color: var(--honeydew) !important;
}

.custom-jumbo {
    box-sizing: border-box !important;
    max-height: 230px;
}

.participate {
    max-height: 150px;
}