.is-honeydew {
    background-color: var(--honeydew);
}

.button-cambridge-blue {
    background-color: var(--cambridgeBlue) !important;
    border-color: transparent !important;
    color: #fff !important;
}

.button-opal {
    background-color: var(--opal) !important;
    border-color: transparent !important;
    color: #fff !important;
}