.is-honeydew {
    background-color: var(--honeydew);
}

.button-cambridge-blue {
    background-color: var(--cambridgeBlue) !important;
    border-color: transparent !important;
    color: #fff !important;
}

.button-opal {
    background-color: var(--opal) !important;
    border-color: transparent !important;
    color: #fff !important;
}

.search-bar-field {
    background-color: var(--honeydew) !important;
    width: 800px !important;
    border-right: none !important;
    border-top: 1px solid rgba(0, 0, 0, .125) !important;
    border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
}

.search-submit-button {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
    border: 1px solid rgba(0, 0, 0, .125) !important;
}