:root {
  --ultraRed: #E77387;
  --periwinkleCrayola: #CDDCF3;
  --cambridgeBlue: #AFD0BF;
  --honeydew: #E2EFDE;
  --lightBlue: #B9D3D5;
  --opal: #9ABFC1;
  background-color: var(--honeydew);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}